<div layout="column" flex>
    <head-toolbar></head-toolbar>
    <md-content flex layout-fill layout="row" layout-xs="column" layout-padding style="padding-top: 100px;">
        <div flex="33" flex-xs="100" layout="column" layout-align="start center">
            <user-avatar diameter="200" allow-set="true"></user-avatar>
            <star-rating ng-model="usr.profile.rating" max="5" ng-disabled="true"></star-rating>
            <md-card>
                <md-list>
                    <md-list-item ng-repeat="view in views" ng-click="setView(view)">
                        {{view.text}}
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
        <div flex="66" flex-xs="100">
            <h2 style="text-transform: uppercase" data-ng-bind="$state.current.data.subTitle"></h2>
            <br />
            <div class="animate-slide-left" ui-view="settings" style="position: relative;"></div>
        </div>
    </md-content>
</div>