<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
    <md-toolbar class="md-theme-indigo" layout="row">
            <div class="md-toolbar-tools">
                <h1>Menu</h1>
                <span flex></span>
                <md-button aria-label="Logout" ng-hide="$mdMedia('gt-md')" ng-click="logout()">
                    Logout
                    <md-icon md-svg-src="img/icons/ic_exit_to_app_white_24px.svg"></md-icon>
                </md-button>
            </div>
    </md-toolbar>
    <md-content layout-padding flex>
        <md-content>
            <md-list ng-repeat="menuSection in menuSections">
                <md-subheader class="md-no-sticky" ng-if="menuSection.header" ng-bind="menuSection.header"></md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in menuSection.items" ng-click="item.onClick()">
                    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.title }}</h3>
                        <h4>{{ item.subtitle }}</h4>
                        <p>{{ item.desc }}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</md-sidenav>