<md-input-container class="md-block" flex-gt-sm>
    <label>Old Password</label>
    <input ng-model="cp.oldPassword" type="password">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <label>New Password</label>
    <input ng-model="cp.newPassword" type="password">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <label>Confirm Password</label>
    <input ng-model="cp.confirmPassword" type="password">
</md-input-container>
<md-button ng-click="setPassword(cp)" ng-disabled="!validate(cp).success" class="md-raised md-primary">Set Password</md-button>